	<section class="banners" id="banners">
		<div class="container">
			<div class="row">
				{% for promocion in promociones %}
				<div class="col-sm-4">
					<div class="item">
						<div class="border"></div>
						<img src="{{ promocion.webPath }}" alt="">
						<h3>{{ promocion.nombre }}</h3>
						<p>{{ promocion.descripcion|nl2br }}</p>
					</div>
				</div>
				{% endfor %}
			</div>
			<div class="welcome">
				<h2>Hotel Normandie - Miramar</h2>
				<p>El Hotel está ubicado en la zona céntrica de <strong>Miramar</strong>, a 300 metros del mar y las principales áreas comerciales, ofrecemos un servicio de excelente calidad, brindando a nuestros huéspedes la calidez de nuestra gente, para hacerlos sentir como en su hogar. </p>
				<p><strong>Miramar</strong>, una ciudad apacible, dedicada a los niños y la familia. <strong>Miramar</strong> dispone de una magnífica costa, con amplias playas de suave arena, que brindan todas las posibilidades para disfrutar del sol y el mar.</p>
			</div>
		</div>
	</section>

	{#
	<section class="info">
		<div class="container">
			<div class="row">
			{% for promocion in promociones %}
				<div class="col-sm-4">
					<div class="info-item">
						<img src="{{ promocion.webPath|thumb(355,200) }}" alt="">
						<h3>{{ promocion.nombre }}</h3>
						<p>{{ promocion.descripcion|nl2br }}</p>
					</div>
				</div>
			{% endfor %}
			</div>
		</div>
	</section>
	#}
