
{% for galeria in galerias %}
  {% for gal in galeria.galeria %}
    {% if loop.first %}
      <a href="{{ asset('/uploads/galerias/gallery/') }}{{ gal }}" class="content-inside__gallery__thumb">
        <img src="{{ asset('/uploads/galerias/gallery/') }}{{ gal }}">
      </a>
    {% endif %}
    <a href="{{ asset('/uploads/galerias/gallery/') }}{{ gal }}" class="content-inside__gallery__thumb">
      <img src="{{ asset('/uploads/galerias/') }}{{ gal|gallery_thumb(489,275) }}">
    </a>
  {% endfor %}
{% endfor %}
	