<!DOCTYPE html>
<html lang="en">
	<head>
    {# Google Tag Manager #}
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-PV75SDT');</script>
    {# End Google Tag Manager #}

    {# Title & Metas #}
		<meta charset="utf-8"> 
    <title>Hotel Normadie - Miramar</title>         
    <meta content="width=device-width, initial-scale=1.0" name="viewport"> 
    <meta name="description" content="Hotel a 300 metros del mar y las principales áreas comerciales. Aprovecha nuestas promociones para venir a conocer el Hotel Normandie en Miramar." />
    <meta name="author" content="www.mardelaspampas.travel" /> 
    {# End Title & Metas #}
		
		<!-- Favicons -->
		<link rel="shortcut icon" href="{{ asset('bundles/app/maquetado/img/favicon.ico') }}" type="image/x-icon" />
		<link rel="apple-touch-icon" href="{{ asset('bundles/app/maquetado/img/apple-touch-icon.png') }}" />
		<link rel="apple-touch-icon" sizes="57x57" href="{{ asset('bundles/app/maquetado/img/apple-touch-icon-57x57.png') }}" />
		<link rel="apple-touch-icon" sizes="72x72" href="{{ asset('bundles/app/maquetado/img/apple-touch-icon-72x72.png') }}" />
		<link rel="apple-touch-icon" sizes="76x76" href="{{ asset('bundles/app/maquetado/img/apple-touch-icon-76x76.png') }}" />
		<link rel="apple-touch-icon" sizes="114x114" href="{{ asset('bundles/app/maquetado/img/apple-touch-icon-114x114.png') }}" />
		<link rel="apple-touch-icon" sizes="120x120" href="{{ asset('bundles/app/maquetado/img/apple-touch-icon-120x120.png') }}" />
		<link rel="apple-touch-icon" sizes="144x144" href="{{ asset('bundles/app/maquetado/img/apple-touch-icon-144x144.png') }}" />
		<link rel="apple-touch-icon" sizes="152x152" href="{{ asset('bundles/app/maquetado/img/apple-touch-icon-152x152.png') }}" />
		<link rel="apple-touch-icon" sizes="180x180" href="{{ asset('bundles/app/maquetado/img/apple-touch-icon-180x180.png') }}" />

		<meta property="og:title" content="Hotel Normandie - Miramar" />
		<meta property="og:description" content="Hotel a 300 metros del mar y las principales áreas comerciales. Aprovecha nuestas promociones para venir a conocer el Hotel Normandie en Miramar."/>
		<meta property="og:type" content="website" />
		<meta property="og:url" content="https://www.normandiemiramar.com.ar/" >
    {# !!!!!!!!!!!! VER FORMATO Y SUBIR UNA FOTO ESPECÍFICA PARA LAS REDES SOCIALES #}
		<meta property="og:image" content="https://www.normandiemiramar.com.ar/comob_r1_c1.jpg" />
		<meta property="og:site_name" content="https://www.normandiemiramar.com.ar/" />
		<meta name="google-site-verification" content="tXpIjFIjgNWKEHgY9mD1ewH6tArxdUf0P6tUX6kcXF4" />

		<!-- Google Fonts -->         
    <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,500,600|Roboto+Slab:300,400&display=swap" rel="stylesheet">
    
    
    <!-- Libraries CSS Files -->
    <link href="{{ asset('bundles/app/maquetado/css/animate.css') }}" rel="stylesheet"> 
    <link href="{{ asset('bundles/app/maquetado/css/fontawesome.css') }}" rel="stylesheet"> 
    <link href="{{ asset('bundles/app/maquetado/css/lightbox.css') }}" rel="stylesheet"> 
    <link href="{{ asset('bundles/app/maquetado/css/slider.css') }}" rel="stylesheet"> 

    <!-- Main Stylesheet File -->         
    <link href="{{ asset('bundles/app/maquetado/css/base.css') }}" rel="stylesheet">

    {# Google map #}
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBocLFC5GH0pqztqWhG3i2HJbAW68xu8pQ"></script>
    <script>
      function initialize() {
      var isDraggable = $(document).width() > 480 ? true : false;  
      var ispanControl = $(document).width() > 480 ? true : false;
      
      var myLatLng = {lat: -37.339154, lng: -57.025952};
      var marker = new google.maps.Marker({
        animation: google.maps.Animation.BOUNCE,
        position: myLatLng,
        title:"Médanos Apart"
      });
      var mapCanvas = document.getElementById('map');
      var mapOptions = {
        center: new google.maps.LatLng(-37.339154, -57.025952),
        zoom: 17,
        mapTypeControl: true,
        panControl:ispanControl,
        draggable: isDraggable,
        scaleControl: true,
        streetViewControl: true,
        rotateControl: true,
        scrollwheel: false,
        mapTypeId: google.maps.MapTypeId.SATELLITE
      }
      var map = new google.maps.Map(mapCanvas, mapOptions);
      marker.setMap(map);
      }
      
      google.maps.event.addDomListener(window, 'load', initialize);
    </script>
	</head>

<body class="{% if interna is defined and interna %} inside {% endif %}">

  <!-- Header -->
  <header class="header">
    <div class="header__holder">
      <!-- Logo -->
      <a href="{{ url('home') }}" class="logo" title="Ir al inicio">
        <h1>Hotel Normandie | Miramar</h1>
        <figure>
          <img src="{{ asset('bundles/app/maquetado/images/logo.png') }}" alt="Hotel Normandie | Miramar">
        </figure>
      </a>
      <!-- Main nav -->
      <nav role="navigation">
        <ul class="main-nav">
          <li class="main-nav__item">
            <a href="{{ url('home') }}" class="main-nav__link button --text --header {% if home is defined and home %} --active {% endif %}">Inicio</a>
          </li>
          <li class="main-nav__item">
            <a href="{{ url('habitaciones') }}" class="main-nav__link button --text --header {% if habitaciones is defined and habitaciones %} --active {% endif %}">Habitaciones</a>
          </li>
          <li class="main-nav__item">
            <a {% if app.request.attributes.get('_route') == 'home' %} href="#promociones"{% else %} href="{{ path('home') }}#promociones"{% endif %} class="main-nav__link button --text --header">Promociones</a>
          </li>
          <li class="main-nav__item">
            <a href="{{ url('servicios') }}" class="main-nav__link button --text --header {% if servicios is defined and servicios %} --active {% endif %}">Servicios</a>
          </li>
          <li class="main-nav__item">
            <a href="{{ url('miramar-historia') }}" class="main-nav__link button --text --header {% if miramar is defined and miramar %} --active {% endif %}">Miramar</a>
          </li>
          <li class="main-nav__item">
            <a {% if app.request.attributes.get('_route') == 'home' %} href="#como-llegar"{% else %} href="{{ path('home') }}#como-llegar"{% endif %} class="main-nav__link button --text --header">Como llegar</a>
          </li>
          <li class="main-nav__item">
            <a href="{{ url('contacto') }}" class="main-nav__link button --text --header {% if contacto is defined and contacto %} --active {% endif %}">Contacto</a>
          </li>
        </ul>
      </nav>
      <!-- Contact nav -->
      <address>
        <ul class="contact-nav">
          <li>
            <a href="tel:01154152464" class="button --text --small --with-icon --header">
              <i class="fas fa-phone"></i>
              (011) 5415.2464
            </a>
          </li>
          <li>
            <a href="https://wa.me/5491154152464" target="_blank" class="button --whatsapp --with-icon">
              <i class="fab fa-whatsapp"></i>
              Chatea por Whatsapp
            </a>
          </li>
          <li>
            <a href="https://www.instagram.com/hotel_normandie/" target="_blank" class="button --icon --header">
              <i class="fab fa-instagram"></i>
            </a>
          </li>
          <li>
            <a href="https://www.facebook.com/hotelnormandiemiramar/" target="_blank" class="button --icon --header">
              <i class="fab fa-facebook-f"></i>
            </a>
          </li>
        </ul>
      </address>
      <!-- Hamburger button | Mobile only -->
      <button class="hamburger">
        <i class="fas fa-bars"></i>
      </button>
    </div>
  </header>


{% block content %}
{% endblock %}

{# Footer #}
<footer class="footer">
    <div class="footer__holder">
      <div class="footer__item">
        <a href="" class="logo" title="Ir al inicio">
          <figure>
            <img src="{{ asset('bundles/app/maquetado/images/logo.png') }}" alt="Hotel Normandie | Miramar">
          </figure>
        </a>
        <p class="footer__text"><i class="fas fa-map-marker-alt"></i> Calle 19 N° 910 esquina 18, Miramar, Buenos Aires</p>
        <p class="footer__text">El Hotel está ubicado en la zona céntrica de Miramar, a 300 metros del mar y las principales áreas comerciales, ofrecemos un servicio de excelente calidad, brindando a nuestros huéspedes la calidez de nuestra gente, para hacerlos sentir como en su hogar.</p>
      </div>
      <div class="footer__item">
        <h3 class="footer__title">Complejo</h3>
        <ul class="footer__nav">
          <li><a href="">Inicio</a></li>
          <li><a href="">El hotel</a></li>
          <li><a href="">Promociones</a></li>
          <li><a href="">Servicios</a></li>
          <li><a href="">Fotos</a></li>
          <li><a href="">Miramar</a></li>
          <li><a href="">Ubicación</a></li>
          <li><a href="">Contacto</a></li>
        </ul>
      </div>
      <div class="footer__item">
        <h3 class="footer__title">Miramar</h3>
        <ul class="footer__nav">
          <li><a href="">Como llegar</a></li>
          <li><a href="">Donde ir</a></li>
          <li><a href="">Historia</a></li>
          <li><a href="">Fotos</a></li>
        </ul>
      </div>
      <div class="footer__item">
        <h3 class="footer__title">Contactanos</h3>
        <ul class="footer__nav">
          <li><a href="tel:01154152464"><i class="fas fa-phone"></i> (011) 5415-2464</a></li>
          <li><a href="https://wa.me/5491154152464" target="_blank"><i class="fab fa-whatsapp"></i> Chatea por Whatsapp</a></li>
          <li><a href="mailto:info@normandiemiramar.com.ar"><i class="fas fa-envelope"></i> info@normandiemiramar.com.ar</a></li>
        </ul>
      </div>
    </div>
  </footer>
{# End Footer #}

  <!-- JavaScript Libraries -->         
  <script src="{{ asset('bundles/app/maquetado/js/jQuery.js') }}"></script>
  <script src="{{ asset('bundles/app/maquetado/js/easing.js') }}"></script>
  <script src="{{ asset('bundles/app/maquetado/js/lightbox.js') }}"></script>
  <script src="{{ asset('bundles/app/maquetado/js/slider.js') }}"></script>
  <script src="{{ asset('bundles/app/maquetado/js/contacto.js') }}"></script>

  {% block javascripts %}{% endblock %}
    
  <!-- Contact Form JavaScript File -->         
  <script src="{{ asset('bundles/app/maquetado/contactform/contactform.js') }}"></script>         
  <!-- Template Main Javascript File -->         
  <script src="{{ asset('bundles/app/maquetado/js/functions.js') }}"></script>      
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PV75SDT"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->
</body>
</html>