{% extends "AppBundle::Sitio/layout.html.twig" %}
{% set interna = true %}
{% set miramar = true %}

{% block content %}

<!-- Breadcrumb -->
<div class="breadcrumb">
  <div class="breadcrumb-holder">
    <ul>
      <li class="breadcrumb__item">
        <a href="{{ url('home') }}"><i class="fas fa-hotel"></i> Inicio</a>
        <i class="fas fa-chevron-right"></i>
      </li>
      <li class="breadcrumb__item --active">
        <a href="{{ url('miramar-historia') }}"><i class="fas fa-map-marked-alt"></i> Miramar</a>
      </li>
    </ul>
    <a href="{{ url('home') }}" class="breadcrumb__back-button button --primary --with-icon"><i class="fas fa-long-arrow-alt-left"></i> Volver al Inicio</a>
  </div>
</div>

<!-- Tab navigation -->
<div class="tab-nav">
  <div class="tab-nav__holder">
    <ul>
      <li class="tab-nav__item">
        <a href="{{ url('miramar-historia') }}" class="button --text --tab-button">Historia</a>
      </li>
      <li class="tab-nav__item --active">
        <a href="{{ url('miramar-fotos') }}" class="button --text --tab-button">Fotos</a>
      </li>
      <li class="tab-nav__item">
        <a href="{{ url('miramar-lugares') }}" class="button --text --tab-button">Para conocer</a>
      </li>
      <li class="tab-nav__item">
        <a href="{{ url('miramar-cerca') }}" class="button --text --tab-button">Cerca de Normandie</a>
      </li>
    </ul>
  </div>
</div>

<!-- Habitaciones home -->
<section class="section tab-content">
  <div class="section__holder">
    <h2 class="section__title">Fotos de Miramar</h2>
    <div class="tab-content__gallery" id="lightgallery">
      <a href="{{ asset('bundles/app/maquetado/images/miramar/fotos/001.jpg') }}">
        <img src="{{ asset('bundles/app/maquetado/images/miramar/fotos/001s.jpg') }}" alt="">
      </a>
      <a href="{{ asset('bundles/app/maquetado/images/miramar/fotos/002.jpg') }}">
        <img src="{{ asset('bundles/app/maquetado/images/miramar/fotos/002s.jpg') }}" alt="">
      </a>
      <a href="{{ asset('bundles/app/maquetado/images/miramar/fotos/003.jpg') }}">
        <img src="{{ asset('bundles/app/maquetado/images/miramar/fotos/003s.jpg') }}" alt="">
      </a>
      <a href="{{ asset('bundles/app/maquetado/images/miramar/fotos/004.jpg') }}">
        <img src="{{ asset('bundles/app/maquetado/images/miramar/fotos/004s.jpg') }}" alt="">
      </a>
      <a href="{{ asset('bundles/app/maquetado/images/miramar/fotos/005.jpg') }}">
        <img src="{{ asset('bundles/app/maquetado/images/miramar/fotos/005s.jpg') }}" alt="">
      </a>
      <a href="{{ asset('bundles/app/maquetado/images/miramar/fotos/006.jpg') }}">
        <img src="{{ asset('bundles/app/maquetado/images/miramar/fotos/006s.jpg') }}" alt="">
      </a>
      <a href="{{ asset('bundles/app/maquetado/images/miramar/fotos/007.jpg') }}">
        <img src="{{ asset('bundles/app/maquetado/images/miramar/fotos/007s.jpg') }}" alt="">
      </a>
      <a href="{{ asset('bundles/app/maquetado/images/miramar/fotos/008.jpg') }}">
        <img src="{{ asset('bundles/app/maquetado/images/miramar/fotos/008s.jpg') }}" alt="">
      </a>
      <a href="{{ asset('bundles/app/maquetado/images/miramar/fotos/009.jpg') }}">
        <img src="{{ asset('bundles/app/maquetado/images/miramar/fotos/009s.jpg') }}" alt="">
      </a>
      <a href="{{ asset('bundles/app/maquetado/images/miramar/fotos/010.jpg') }}">
        <img src="{{ asset('bundles/app/maquetado/images/miramar/fotos/010s.jpg') }}" alt="">
      </a>
      <a href="{{ asset('bundles/app/maquetado/images/miramar/fotos/011.jpg') }}">
        <img src="{{ asset('bundles/app/maquetado/images/miramar/fotos/011s.jpg') }}" alt="">
      </a>
      <a href="{{ asset('bundles/app/maquetado/images/miramar/fotos/012.jpg') }}">
        <img src="{{ asset('bundles/app/maquetado/images/miramar/fotos/012s.jpg') }}" alt="">
      </a>
      <a href="{{ asset('bundles/app/maquetado/images/miramar/fotos/013.jpg') }}">
        <img src="{{ asset('bundles/app/maquetado/images/miramar/fotos/013s.jpg') }}" alt="">
      </a>
      <a href="{{ asset('bundles/app/maquetado/images/miramar/fotos/014.jpg') }}">
        <img src="{{ asset('bundles/app/maquetado/images/miramar/fotos/014s.jpg') }}" alt="">
      </a>
      <a href="{{ asset('bundles/app/maquetado/images/miramar/fotos/015.jpg') }}">
        <img src="{{ asset('bundles/app/maquetado/images/miramar/fotos/015s.jpg') }}" alt="">
      </a>
      <a href="{{ asset('bundles/app/maquetado/images/miramar/fotos/016.jpg') }}">
        <img src="{{ asset('bundles/app/maquetado/images/miramar/fotos/016s.jpg') }}" alt="">
      </a>
      <a href="{{ asset('bundles/app/maquetado/images/miramar/fotos/017.jpg') }}">
        <img src="{{ asset('bundles/app/maquetado/images/miramar/fotos/017s.jpg') }}" alt="">
      </a>
      <a href="{{ asset('bundles/app/maquetado/images/miramar/fotos/018.jpg') }}">
        <img src="{{ asset('bundles/app/maquetado/images/miramar/fotos/018s.jpg') }}" alt="">
      </a>
      <a href="{{ asset('bundles/app/maquetado/images/miramar/fotos/019.jpg') }}">
        <img src="{{ asset('bundles/app/maquetado/images/miramar/fotos/019s.jpg') }}" alt="">
      </a>
      <a href="{{ asset('bundles/app/maquetado/images/miramar/fotos/020.jpg') }}">
        <img src="{{ asset('bundles/app/maquetado/images/miramar/fotos/020s.jpg') }}" alt="">
      </a>
      <a href="{{ asset('bundles/app/maquetado/images/miramar/fotos/021.jpg') }}">
        <img src="{{ asset('bundles/app/maquetado/images/miramar/fotos/021s.jpg') }}" alt="">
      </a>
      <a href="{{ asset('bundles/app/maquetado/images/miramar/fotos/022.jpg') }}">
        <img src="{{ asset('bundles/app/maquetado/images/miramar/fotos/022s.jpg') }}" alt="">
      </a>
      <a href="{{ asset('bundles/app/maquetado/images/miramar/fotos/023.jpg') }}">
        <img src="{{ asset('bundles/app/maquetado/images/miramar/fotos/023s.jpg') }}" alt="">
      </a>
      <a href="{{ asset('bundles/app/maquetado/images/miramar/fotos/024.jpg') }}">
        <img src="{{ asset('bundles/app/maquetado/images/miramar/fotos/024s.jpg') }}" alt="">
      </a>
      <a href="{{ asset('bundles/app/maquetado/images/miramar/fotos/025.jpg') }}">
        <img src="{{ asset('bundles/app/maquetado/images/miramar/fotos/025s.jpg') }}" alt="">
      </a>
      <a href="{{ asset('bundles/app/maquetado/images/miramar/fotos/026.jpg') }}">
        <img src="{{ asset('bundles/app/maquetado/images/miramar/fotos/026s.jpg') }}" alt="">
      </a>
      <a href="{{ asset('bundles/app/maquetado/images/miramar/fotos/027.jpg') }}">
        <img src="{{ asset('bundles/app/maquetado/images/miramar/fotos/027s.jpg') }}" alt="">
      </a>
      <a href="{{ asset('bundles/app/maquetado/images/miramar/fotos/028.jpg') }}">
        <img src="{{ asset('bundles/app/maquetado/images/miramar/fotos/028s.jpg') }}" alt="">
      </a>
      <a href="{{ asset('bundles/app/maquetado/images/miramar/fotos/029.jpg') }}">
        <img src="{{ asset('bundles/app/maquetado/images/miramar/fotos/029s.jpg') }}" alt="">
      </a>
      <a href="{{ asset('bundles/app/maquetado/images/miramar/fotos/030.jpg') }}">
        <img src="{{ asset('bundles/app/maquetado/images/miramar/fotos/030s.jpg') }}" alt="">
      </a>
      <a href="{{ asset('bundles/app/maquetado/images/miramar/fotos/031.jpg') }}">
        <img src="{{ asset('bundles/app/maquetado/images/miramar/fotos/031s.jpg') }}" alt="">
      </a>
      <a href="{{ asset('bundles/app/maquetado/images/miramar/fotos/032.jpg') }}">
        <img src="{{ asset('bundles/app/maquetado/images/miramar/fotos/032s.jpg') }}" alt="">
      </a>
      <a href="{{ asset('bundles/app/maquetado/images/miramar/fotos/033.jpg') }}">
        <img src="{{ asset('bundles/app/maquetado/images/miramar/fotos/033s.jpg') }}" alt="">
      </a>
      <a href="{{ asset('bundles/app/maquetado/images/miramar/fotos/034.jpg') }}">
        <img src="{{ asset('bundles/app/maquetado/images/miramar/fotos/034s.jpg') }}" alt="">
      </a>
      <a href="{{ asset('bundles/app/maquetado/images/miramar/fotos/035.jpg') }}">
        <img src="{{ asset('bundles/app/maquetado/images/miramar/fotos/035s.jpg') }}" alt="">
      </a>
      <a href="{{ asset('bundles/app/maquetado/images/miramar/fotos/036.jpg') }}">
        <img src="{{ asset('bundles/app/maquetado/images/miramar/fotos/036s.jpg') }}" alt="">
      </a>
      <a href="{{ asset('bundles/app/maquetado/images/miramar/fotos/037.jpg') }}">
        <img src="{{ asset('bundles/app/maquetado/images/miramar/fotos/037s.jpg') }}" alt="">
      </a>
      <a href="{{ asset('bundles/app/maquetado/images/miramar/fotos/038.jpg') }}">
        <img src="{{ asset('bundles/app/maquetado/images/miramar/fotos/038s.jpg') }}" alt="">
      </a>
      <a href="{{ asset('bundles/app/maquetado/images/miramar/fotos/039.jpg') }}">
        <img src="{{ asset('bundles/app/maquetado/images/miramar/fotos/039s.jpg') }}" alt="">
      </a>
      <a href="{{ asset('bundles/app/maquetado/images/miramar/fotos/040.jpg') }}">
        <img src="{{ asset('bundles/app/maquetado/images/miramar/fotos/040s.jpg') }}" alt="">
      </a>
      <a href="{{ asset('bundles/app/maquetado/images/miramar/fotos/041.jpg') }}">
        <img src="{{ asset('bundles/app/maquetado/images/miramar/fotos/041s.jpg') }}" alt="">
      </a>
    </div>
  </div>
</section>

{% endblock %}